{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 mt-3">
   <div class="row">
      <div class="col-md-4">
         <div class="card">
            <img src="{{ brand.image }}" width="200" height="250">
         </div>
      </div>
      <div class="col-md-8">
         <div class="card">
            <div class="card-header">
               <h1 class="text text-primary text-center">{{ brand.name }} </h1>
            </div>
                  </h3>
                  <h3 class="text text-warning">Product(s): </h3>
                  {% if brand.products != null %}
                       <ul>
                        {% for product in brand.products %}
                           <li>
                              <a href="{{ path('product_detail', {'id': product.id })}}">
                                 {{ product.name }}
                              </a>
                           </li>
                        {% endfor %}
                     </ul>
                  {% endif %}
               </div>               
         </div>
      </div>
   </div>
</div>
{% endblock %}